* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

/* navbar start */
header{
    display: flex;
    flex-direction: column;
}

h1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
}

h5{
    color: white;
    font-size: 10px;
}

a{
    text-decoration: none;
}

.navbar{
    background-color:rgb(40, 39, 53);
    display: flex;
    height: 70px;
}

.navbar-menu{
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-titre{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-titre span{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
}

.navbar-menu ul{
    display: flex;
    flex: 1;
    margin-left: 100px;
}

.navbar-menu ul a li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
}
/* nav end */
/* banner start */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 68, 68);
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner-img{
    display: flex;
    margin-bottom: 50px;
}

.banner-img img{
    width: 150px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text span{
    color: white;
    margin-top: 10px;
}
/* banner end */
/* portfolio start */
.portfolio{
    display: flex;
    flex-direction: column;
    margin: 20px 250px;
}

.portfolio-titre{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.portfolio-titre h2{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    color:rgb(40, 39, 53);
}

.portfolio-row{
    display: flex;
}

.portfolio-col{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 20px;
}

.portfolio-col img{
    width: 100%;
    border-radius: 5%;
    margin: 20px;
}
/* portfolio end */
/* about start */
.about{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 68, 68);
    padding-bottom: 50px;
}

.about-titre{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.about-titre h2{
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}

.about-row{
    display: flex;
    margin: 20px 250px;
}

.about-col{
    display: flex;
    flex: 1;
    margin: 0px 20px;
}

.about-col p{
    text-align: left;
    color: white;
    line-height: 30px;
}
/* about end */
/* contact start */
.contact{
    display: flex;
    flex-direction: column;
    margin: 20px 270px;
    margin-bottom: 100px;
}

.contact-titre{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.contact-titre h2{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    color:rgb(40, 39, 53);
}

.contact-form{
    display: flex;
}

.contact-form form{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.contact-form form>input{
    margin: 20px 0px;
    width: 100%;
    border: none;
    box-shadow: 0px -1px 2px gray ;
}

.contact-form form>label{
    font-size: 16px;
    color:grey ;
    letter-spacing: 1px;
}

.contact-btn{
    display: flex;
    justify-content: left;
    margin-top: 20px;

}

.contact-btn button{
    padding: 15px 20px;
    border: none;
    background-color: rgb(221, 68, 68);
    border-radius: 10%;
}

.contact-btn button>a{
    color: white;
    font-weight: bold;
}
/* contact end */
/* footer start */
footer{
    display: flex;
    flex-direction: column;
}

.footer-row:nth-of-type(2){
    background-color:rgb(40, 39, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer-row:first-of-type{
    background-color:rgb(67, 66, 88);
    display: flex;
    padding-bottom: 50px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.footer-col-titre h3{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.footer-text{
    text-align: center;
    line-height: 25px;
    padding: 0px 150px;
    margin-bottom: 20px;
}


.footer-text p{
    color: white;
}

.footer-text a{
    color: turquoise;
}

.footer-rs-icons a{
    color: white;
}

.footer-rs-icons a>i{
    border: white 2px solid;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
}
